:root {
  /* TODO: Different brightness for light and dark mode :) */
  --vp-c-brand: hsl(255, 78%, 53%);
  --vp-c-brand-light: hsla(255, 78%, 53%, 36.5%);
  --vp-c-brand-lighter: hsla(255, 78%, 53%, 36.5%);
  --vp-c-brand-dark: hsl(255, 78%, 53%);
  --vp-c-brand-darker: hsl(255, 78%, 53%);
  --vp-c-brand-dimm: hsl(0, 0%, 21%);
}
