// Config ignored by babel when running from webpack
{
  "presets": [
    ["@babel/preset-env", { "targets": "extends browserslist-config-google" }],
    "@babel/preset-typescript"
  ],
  "comments": false,
  "compact": true,
  "sourceMaps": true
}
