# Javascript
coverage
node_modules

# Output
/dist
/dev

# Documentation output
docs/.vitepress/dist

# Random
/ignore
*.log
benchmark/yarn.lock

# Vscode
.vscode/*
!.vscode/launch.json

# Npm & Yarn
package-lock.json
.yarn/*
!.yarn/releases
!.yarn/plugins
