# Javascript
coverage
node_modules

# Output
/dist
/dev

# Documentation output
docs/.vitepress/dist
docs/.vitepress/cache

# Random
/ignore
*.log

# Vscode
.vscode/*
!.vscode/launch.json

# Npm & Yarn
package-lock.json
benchmark/yarn.lock
.yarn/*
!.yarn/releases
!.yarn/plugins
pnpm-workspace.yaml
