{
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "tsdoc": true,
  "jsdocSpaces": 1,
  "jsdocPrintWidth": 100,
  "jsdocSingleLineComment": false
}
