/* section.cover.show {
  height: 95vh;
}

#edit-this-page {
  font-size: small;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

#edit-this-page:hover {
  background-color: rgba(0, 0, 0, 0.17);
}

.separator {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: larger;
}

input[type='search'] {
  margin: 0.5rem !important;
  border-radius: 1rem;

  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1) !important;
  border: 0.1rem solid rgba(0, 0, 0, 0.1) !important;
}

input[type='search']:focus {
  box-shadow: 0 0 0.3rem var(--theme-color) !important;
  border: 0.1rem solid var(--theme-color) !important;
}
*/

article,
p {
  max-width: min(90vw, 70rem) !important;
}
