:root {
  --vp-c-brand: hsl(49, 78%, 53%);
  --vp-c-brand-light: hsla(49, 78%, 53%, 36.5%);
  --vp-c-brand-lighter: hsla(49, 78%, 53%, 36.5%);
  --vp-c-brand-dark: hsl(49, 78%, 53%);
  --vp-c-brand-darker: hsl(49, 78%, 53%);
  --vp-c-brand-dimm: hsl(49, 0%, 21%);
}
